@font-face {
  font-family: 'NatoSansKR';
  src: url('./NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NatoSansKR';
  src: url('./NotoSansKR-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NatoSansKR';
  src: url('./NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

// @font-face {
// 	font-family: "NatoSansKR";
// 	src: url("./fonts/NotoSansKR-Medium.otf");
// 	font-weight: 400;
// 	font-style: normal;
// }


@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('./SpoqaHanSansNeo-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('./SpoqaHanSansNeo-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('./SpoqaHanSansNeo-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('./SpoqaHanSansNeo-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('./SpoqaHanSansNeo-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
